.powerTitle {
  padding: 10px;
}
.titleText {
  display: flex;
  justify-content: space-between;
  color: lightgray;
  font-size: 52px;
  line-height: 0.75;
}
.powerTitleCurrentLetter {
  color: #5286e9;
}
.subTitle {
  color: #5286e9;
  font-size: 20px;
  text-transform: uppercase;
}
.instructions {
  font-family: Garamond, serif;
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
}
.longInstructions {
  font-size: 18px;
  margin-top: 10px;
}
