.diagramContainer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 2;
}
.diagramExample {
  display: flex;
  min-height: 100px;
  min-width: 400px;
  max-width: 400px;
  flex-grow: 1;
  padding: 10px;
  flex-direction: column;
}
.diagramBox {
  display: flex;
  align-items: center;
}
.diagramScroll {
  overflow-y: scroll;
}
.Diagrammer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.changeTitle {
  margin-bottom: -8px;
  user-select: none;
}

.squareIcon {
  min-height: 80px;
  width: 80px;
  margin: 3px;
  background: lightgray;
  border: solid 1px black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.verticalIconLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.inputField {
  width: 100%;
  text-align: center;
  border: solid 1px black;
  margin-left: 1px;
  margin-right: 1px;
}

.react-toggle-track {
  background-color: red;
  color: white;
}
.react-toggle-track-check {
  display: flex;
  align-items: center;
}
.react-toggle-track-x {
  display: flex;
  align-items: center;
}
.signToggle.react-toggle--checked .react-toggle-track {
  background-color: green;
  color: white;
}
.signToggle.react-toggle--unchecked .react-toggle-track {
  background-color: red;
  display: flex;
  align-items: center;
}
.react-toggle {
  vertical-align: middle;
}
.react-icons {
  vertical-align: middle;
}

.keypadBox {
  position: relative;
  max-width: 300px;
}
