.diagramEqualGroupsContainer {
  padding: 5px;
}
.diagramEqualGroups {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.selected {
  background-color: yellowgreen;
}
.diagramEqualGroupsTitle {
  min-height: 100px;
  flex-grow: 1;
}
.diagramEqualGroupsExample {
  display: flex;
  min-height: 100px;
  flex-grow: 1;
  padding: 10px;
}
.diagramEqualGroupsBox {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: solid 1px black;
}

.diagramEqualGroupsStart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: solid 1px black;
}
.diagramEqualGroupsChange {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: solid 1px black;
}
.diagramEqualGroupsEnd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: solid 1px black;
}
