.Button {
  width: fit-content;
  min-width: 8rem;
  border: 1px solid var(--purple);
  padding: 0.7rem 1.75rem;
  border-radius: 6px;
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 700;
  background-color: var(--dark);
  cursor: pointer;
}
