.IdentifierFields {
  display: flex;
  min-height: 100px;
  justify-content: flex-start;
  align-items: center;
  padding: 18px 36px 18px 36px;
}
.Number {
  max-height: 2rem;
}
.Label {
  max-height: 2rem;
  margin-left: 5px;
}
