.DiagramSelect {
  color: initial;
  overflow-y: scroll;
}
.DiagramSelectView {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

.toasty {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 10px);
}
