.StepWise {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.successMsg {
  margin: 10px;
}

.toasty {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 10px);
}
