.diagramMultipleBox {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.diagramMultipleItem {
  position: relative;
  min-height: 80px;
  width: 80px;
  margin: 3px;
  background: lightgray;
  user-select: none;
}
.diagramMultipleArrowBox {
  position: relative;
  height: 20px;
}
.diagramMultipleArrow {
  position: absolute;
  height: 40px;
  width: 100%;
}
.diagramMultipleStart {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
}
.diagramMultipleMultiple {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}
.diagramMultipleEnd {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
}
.diagramMultipleIcon {
  position: absolute;
  min-height: 80px;
  width: 80px;
  margin: 3px;
}
.diagramMultipleLabel {
  position: absolute;
}
